﻿@using SystemFNB.Models
@model BahanViewModel
@{
    var controllerName = "Bahan";
    ViewBag.Title = controllerName;
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
}

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="control-label col-md-2">Kode</label>
            <div class="col-md-10">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button id="btnautoid" class="btn btn-success" onclick="autoid(this, '@Url.Action("AutoId")', '#Kode')">
                            <i class="icon-sync"></i>
                        </button>
                    </span>
                    @Html.EditorFor(model => model.Kode, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                </div>
                @Html.ValidationMessageFor(model => model.Kode, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Nama</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nama, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nama, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-md-2">Satuan</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Kode_Satuan, StaticModel.SelectListSatuan, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Kode_Satuan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-md-offset-2">
                <div class="checkbox">
                    <label>
                        @Html.EditorFor(model => model.Aktif)
                        @Html.ValidationMessageFor(model => model.Aktif, "", new { @class = "text-danger" })
                        Aktif
                    </label>
                </div>
            </div>
        </div>
        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    </div>
    }

</div>
<script>
    @if (!ViewBag.IsAjaxRequest)
    {
    <text>
    document.addEventListener("DOMContentLoaded", function (event) {
        $('#btnautoid').click();
    });
    </text>
    }
    else
    {
        @:$('#btnautoid').click();
    }
</script>