﻿@using SystemFNB.Models
@model PemakaianObatNonPasienViewModel
@{
    var controllerName = "PemakaianObatNonPasien";
    ViewBag.Title = "Pemakaian Obat Non Pasien";
    var formName = $"frm_{controllerName}_create";

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = Url.Action("Index") },
new SelectListItem(){ Text = "Create", Value = "active" }
};
    var targetForm = formName;

    #region Detail Barang
    var detail_barang = new PemakaianObatNonPasienDetailViewModel();
    var table_detail_barang = $"frm_{controllerName}_table_detail_barang";
    var target_inputDetail_barang = $"inputDetail{controllerName}_barang";
    #endregion

    #region ==== MODAL Barang
    var target_barang = new
    {
        t0 = $"#Detail_List_-1__Model_{nameof(detail_barang.BarangID)}",
        t1 = $"#Detail_List_-1__Model_{nameof(detail_barang.KodeBarang)}",
        t2 = $"#Detail_List_-1__Model_{nameof(detail_barang.NamaBarang)}",
        t3 = $"#Detail_List_-1__Model_{nameof(detail_barang.Satuan)}",
        t4 = $"#Detail_List_-1__Model_{nameof(detail_barang.QtyStok)}",
        t5 = $"#Detail_List_-1__Model_{nameof(detail_barang.Harga_View)}"
    };
    var modalName_barang = "Barang";
    var modalid_m_barang = $"modal_{formName}_{nameof(detail_barang.BarangID)}";
    #endregion

    int detail_barang_index = 0;
    if (Model != null)
    {
        if (Model.Detail_List != null)
        {
            detail_barang_index = Model.Detail_List.Count();
        }
    }
}

<style>
    #@table_detail_barang thead th:nth-child(1),
    #@table_detail_barang tbody td:nth-child(1){
        display:none;
    }

    #@table_detail_barang thead th:nth-child(2),
    #@table_detail_barang tbody td:nth-child(2){
        width : 40px;
        text-align: center;
    }

    #@table_detail_barang thead th:nth-child(3),
    #@table_detail_barang tbody td:nth-child(3){
        display : none;
    }

    #@table_detail_barang thead th:nth-child(4),
    #@table_detail_barang tbody td:nth-child(4){
        display : none;
    }

    #@table_detail_barang thead th:nth-child(5),
    #@table_detail_barang tbody td:nth-child(5){
        width: 110px;
    }

    #@table_detail_barang thead th:nth-child(6),
    #@table_detail_barang tbody td:nth-child(6){
    }

    #@table_detail_barang thead th:nth-child(7),
    #@table_detail_barang tbody td:nth-child(7){
        width: 80px;
    }

    #@table_detail_barang thead th:nth-child(8),
    #@table_detail_barang tbody td:nth-child(8){
        width: 100px;
    }

    #@table_detail_barang thead th:nth-child(9),
    #@table_detail_barang tbody td:nth-child(9){
        width: 80px;
    }

    #@table_detail_barang thead th:nth-child(10),
    #@table_detail_barang tbody td:nth-child(10){
        width: 100px;
    }
</style>

<div class="wall" ng-controller="form">
    @using (Ajax.BeginForm("Create", controllerName, null, new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        LoadingElementId = "_loading",
        OnComplete = $"oncompletecreate(xhr, '#{formName}', '{ViewBag.IsAjaxRequest}', this)"
    }, new { id = formName, autocomplete = "off" }))
    {
        @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            <label class="control-label col-md-1">Keterangan</label>
            <div class="col-md-11">
                @Html.TextAreaFor(model => model.Keterangan, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Keterangan, "", new { @class = "text-danger" })
            </div>
        </div>
        <div id="panel_detil_barang_@formName" class="detail" data-index-detail="@detail_barang_index">
            <div class="table-responsive">
                <table id="@table_detail_barang" class="table table-hover table-bordered">
                    <thead>
                        <tr>

                            <!-- Thead -->
                            <th>
                                <input type="checkbox" onclick="checkall(this)" />
                            </th>
                            <th class="text-center">
                                <a class="text-success-600" title="Barang"
                                   data-toggle="modal" data-target="#@modalid_m_barang">
                                    <i class="icon-search4"></i>
                                </a>
                            </th>
                            <th></th>
                            <th>ID</th>
                            <th>Kode</th>
                            <th>Deskripsi</th>
                            <th>Sat</th>
                            <th>Stok</th>
                            <th>Pemakaian</th>
                            <th>Harga</th>

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
        <br />

        <div class="text-right">
            <button type="submit" class="btn btn-primary">Submit <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    </div>
    }

</div>

@{
    if (Model != null)
    {
        Model.Detail_List = null;
    }
}

<script>

</script>

<div id="@target_inputDetail_barang" class="hidden">

    <!-- Check -->
    <div class="input-detail">
        <input type="checkbox" />
    </div>

    <!-- Delete button -->
    <div class="input-detail">
        <a class="text-danger-600"
           onclick="removetr(this)">
            <i class="icon-trash"></i>
        </a>
    </div>

    <!-- Remove Status -->
    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Remove,
      new { htmlAttributes = new { @class = "disable-reset auto-uncheck" } })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.BarangID, new
   {
       htmlAttributes = new
       {
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.KodeBarang, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.NamaBarang, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Satuan, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm text-center",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.QtyStok, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm text-center",
           @readonly = "readonly"
       }
   })
    </div>

    <div class="input-detail">
        @Html.TextBoxFor(model => model.Detail_List[-1].Model.QtyPemakaian, new
   {
     @class = "form-control input-sm text-right",
     type="number",
     Value = 0
   })
    </div>


    <div class="input-detail">
        @Html.EditorFor(model => model.Detail_List[-1].Model.Harga_View, new
   {
       htmlAttributes = new
       {
           @class = "form-control input-sm text-right",
           @readonly = "readonly"
       }
   })
    </div>
</div>

<!-- Modal Look Up barang -->
@Html.Partial("_LookUp_M_DataObatNonPasien", Model, new ViewDataDictionary {
    { "target", target_barang },
    { "modalid", modalid_m_barang },
    { "targetForm", targetForm },
    { "modalName", modalName_barang },
    { "headerisajax", ViewBag.IsAjaxRequest },
    { "targetTable", table_detail_barang },
    { "targetInputTable", target_inputDetail_barang },
})