﻿@using iHos.MVC.Converter
@using SystemFNB.Models
@{
    var controllerName = "PemakaianObatNonPasien";
    ViewBag.Title = "Pemakaian ObatNon Pasien";
    var tableId = $"table_{controllerName}";
    var item = new PemakaianObatNonPasienViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.NoBukti);
    column[1] = nameof(item.Tanggal);
    column[2] = nameof(item.SectionTujuan);
    column[3] = nameof(item.Keterangan);

    ViewBag.breadcrumb = new List<SelectListItem>()
{
new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
};
}

<style>
    #@tableId td, #@tableId th{ white-space: nowrap; }

    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 90px;
        text-align: center;
        vertical-align: middle;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
    }

    #@tableId thead th:nth-child(4),
    #@tableId thead td:nth-child(4),
    #@tableId tbody td:nth-child(4){
        display: none;
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
    }

    #@tableId thead th:nth-child(6),
    #@tableId tbody td:nth-child(6){
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();
     filter[17]=true;">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <a href="@Url.Action("Create")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create")',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId'
                           })"
               class="btn btn-success btn-sm" onclick="event.preventDefault()">
                Tambah
                <i class="icon-plus2 position-right"></i>
            </a>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list" style="display:none">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Tanggal</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[15]" ng-change="getdatas()" disabled />
                    </div>
                    <div class="form-group">
                        <label>Sampai</label>
                        <input type="date" class="form-control input-periode" ng-model="filter[16]" ng-change="getdatas()" disabled />
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" ng-model="filter[17]" onclick="disabletarget(this.checked, '.input-periode')" ng-change="getdatas()" />
                            All Periode
                        </label>
                    </div>
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'desc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No Bukti</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">Section Tujuan</th>
                        <th ng-click="ordering($event,'@column[3]')" class="sorting">Keterangan</th>

                    </tr>
                    <tr class="filter_list" style="display:none">

                        <!-- Filter -->
                        <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td></td>
                        <td><input ng-model="filter[3]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="middle text-center">
                            <a href="@Url.Action("Detail")/{{ data.@column[0] }}" class="text-info-600"
                               onclick="return false"
                               ng-click="detail(data.@column[0], '@Url.Action("Detail")')" title="Detail">
                                <i class="icon-eye"></i>
                            </a>
                            <a onclick="deletepemakaianobatonclick(this)" data-id="{{data.@(column[0])}}" class="text-danger-600">
                                <i class="icon-trash"></i>
                            </a>
                        </td>

                        <td>{{data.@(column[0])}}</td>
                        <td>{{data.@(column[1])_View}}</td>
                        <td>{{data.@(column[2])}}</td>
                        <td>{{data.@(column[3])}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10; getdatas();"></div>
    </div>
</div>

<script>
    angular.element(document).ready(function () {
        var date = new Date('@DateTime.Today.AddDays(-1).ToString("yyyy-MM-dd")');
        var date2 = new Date('@DateTime.Today.AddDays(1).ToString("yyyy-MM-dd")');
        var sc = angular.element('#@tableId').scope();
        sc.filter[15] = date;
        sc.filter[16] = date2;
        sc.getdatas();
    });

    var deletepemakaianobatid;
    function deletepemakaianobatonclick(t) {
        deletepemakaianobatid = $(t).data('id');
        $('#modaldeletepemakaianobat textarea').val('');
        $('#modaldeletepemakaianobat').modal();
    }

    function deletepemakaianobatonsubmit() {
        if ($('#modaldeletepemakaianobat textarea').val() == '') {
            alertpopup('Alasan harus diisi', 'danger');
        } else {
            myajax({
                url: '@Url.Action("Delete")',
                data: {
                    id: deletepemakaianobatid,
                    alasanbatal: $('#modaldeletepemakaianobat textarea').val()
                },
                success: function (dt) {
                    if (dt.IsSuccess) {
                        $('#modaldeletepemakaianobat').modal('hide');
                        angular.element('#table_PemakaianObatNonPasien').scope().getdatas();
                    } else {
                        alertpopup(dt.Message);
                    }
                },
            });
        }
    }
</script>

<div class="modal fade" tabindex="-1" role="dialog" id="modaldeletepemakaianobat">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Delete</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Alasan Batal</label>
                    <textarea class="form-control"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="deletepemakaianobatonsubmit()">Delete</button>
            </div>
        </div>
    </div>
</div>