﻿@using iHos.MVC.Converter
@using SystemFNB.Models
@{
    var controllerName = "StokOpname";
    ViewBag.Title = "Stok Opname";
    var tableId = $"table_{controllerName}";
    var item = new StokOpnameViewModel();
    var columnCount = 20;
    var column = new string[columnCount];
    column[0] = nameof(item.No_Bukti);
    column[1] = nameof(item.Tgl_Opname);
    column[2] = nameof(item.KelompokJenis);
    column[3] = nameof(item.Posted);

    ViewBag.breadcrumb = new List<SelectListItem>()
    {
        new SelectListItem(){ Text = ViewBag.Title, Value = "active" }
    };
}

<style>
    #@tableId td, #@tableId th{ white-space: nowrap; }

    #@tableId thead th:nth-child(1),
    #@tableId tbody td:nth-child(1){
        width: 90px;
        text-align: center;
        vertical-align: middle;
    }

    #@tableId thead th:nth-child(2),
    #@tableId tbody td:nth-child(2){
    }

    #@tableId thead th:nth-child(3),
    #@tableId tbody td:nth-child(3){
    }

    #@tableId thead th:nth-child(4),
    #@tableId tbody td:nth-child(4){
    }

    #@tableId thead th:nth-child(5),
    #@tableId tbody td:nth-child(5){
    }
</style>

<div class="wall" ng-controller="table"
     ng-init="filterlength = @columnCount;
     target_auto_refresh_edit = '@tableId';
     url = '@Url.Action("List")';
     init();">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <a href="@Url.Action("Create")"
               ng-click="$parent.ajaxmodal({
                                url: '@Url.Action("Create")',
                                header: 'Tambah',
                                target_auto_refresh : '@tableId'
                           })"
               class="btn btn-success btn-sm" onclick="event.preventDefault()">
                Tambah
                <i class="icon-plus2 position-right"></i>
            </a>
            <div class="heading-elements">
                <ul class="icons-list">
                    <li><a onclick="togglecheckbox('.filter_list')"><i class="icon-filter3"></i></a></li>
                    <li><a ng-click="getdatas()"><i class="icon-sync"></i></a></li>
                    <li><a data-action="collapse"></a></li>
                </ul>
            </div>
        </div>

        <div class="datatable-header">
            <div class="filter_list" style="display:none">
                <div class="form-inline">
                    <div class="form-group">
                        <label>Periode</label>
                        <select class="form-control" ng-model="filter[15]" ng-change="getdatas()">
                            @for (var i = 1; i <= 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                        <select class="form-control" ng-model="filter[16]" ng-change="getdatas()">
                            @for (var i = 2012; i <= DateTime.Today.Year; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="form-group">
                        <span>Show:</span>
                        <select class="form-control input-xs"
                                ng-change="getdatas()"
                                ng-model="pagesize"
                                ng-options="opt as opt for opt in pagesizes"></select>
                    </div>
                </div>
                <br />
            </div>
        </div>

        <div class="dataTables_scrollHead table-responsive">
            <table class="table table-bordered dataTable" id="@tableId">
                <thead>
                    <tr ng-init="sort = '@column[0]'; sorttype = 'desc';">

                        <!-- Column Sort -->
                        <th rowspan="2" class="middle text-center">Action</th>
                        <th ng-click="ordering($event,'@column[0]')" class="sorting">No Bukti</th>
                        <th ng-click="ordering($event,'@column[1]')" class="sorting">Tanggal</th>
                        <th ng-click="ordering($event,'@column[2]')" class="sorting">Kelompok Jenis</th>

                    </tr>
                    <tr class="filter_list" style="display:none">

                        <!-- Filter -->
                        <td><input ng-model="filter[0]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>
                        <td></td>
                        <td><input ng-model="filter[2]" type="text" class="form-control input-xs" ng-change="getdatas()"></td>

                    </tr>
                    <tr class="loading {{ loading ? '' : 'hide' }}">
                        <td colspan="50">
                            <div class="bubblingG center">
                                <span id="bubblingG_1"></span>
                                <span id="bubblingG_2"></span>
                                <span id="bubblingG_3"></span>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody class="{{ loading ? 'hide' : '' }}">
                    <tr ng-repeat="data in datas" ng-class="['active', ''][$index % 2]">

                        <td class="middle text-center">
                            <a href="@Url.Action("Detail")/{{ data.@column[0] }}" class="text-info-600"
                               onclick="return false"
                               ng-click="detail(data.@column[0], '@Url.Action("Detail")')" title="Detail">
                                <i class="icon-eye"></i>
                            </a>
                            <a ng-if="data.Posted == false" href="@Url.Action("Edit")/{{ data.@column[0] }}" class="text-teal-600"
                               onclick="return false"
                               ng-click="edit_param({id : data.@column[0]}, '@Url.Action("Edit")')" title="Edit">
                                <i class="icon-pencil7"></i>
                            </a>
                            <span ng-if="data.Posted == false">|</span>
                            <a class="text-info-600" ng-if="data.Posted == false"
                               onclick="return false"
                               ng-click="modalpost({ id : data.@column[0] }, '@Url.Action("Proses")', 'Proses SO', 'info')" title="Detail">
                                Proses SO
                            </a>
                        </td>

                        <td>{{data.@(column[0])}}</td>
                        <td>{{data.@(column[1])_View}}</td>
                        <td>{{data.@(column[2])}}</td>

                    </tr>
                </tbody>
            </table>
        </div>

        <div class="datatable-footer">
            <div class="dataTables_info">
                {{ datainfo }}
            </div>
            <div class="dataTables_paginate paging_simple_numbers">
                <ul class="pagination md-full-right" compile="pagination"></ul>
            </div>
        </div>
        <div ng-init="pagesize = 10;"></div>
    </div>
</div>

<script>
    angular.element(document).ready(function () {
        var sc = angular.element('#@tableId').scope();
        sc.filter[15] = '@DateTime.Today.Month';
        sc.filter[16] = '@DateTime.Today.Year';
        sc.getdatas();
    });
</script>